<div class="container">
  <div class="container">
      <div class="row justify-content-center align-self-center vertical-center">
          <div class="card col-md-6">
            <div class="login__card">
              <div class="card-block">
                  <form class="form-horizontal">
                    <h3 *ngIf="!createNewAccount" align="center" style="padding:40px;">Autentificare</h3>
                    <h3 *ngIf="createNewAccount" align="center" style="padding:40px;">Cont nou</h3>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="email">Email </label>
                      <input type="email" class="form-control" [(ngModel)]="email" required placeholder=" Introduceti email" name="email">
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="password">Parola</label>
                      <input type="password" class="form-control" [(ngModel)]="password" required placeholder=" Introduceti parola" name="password">
                    </div>
                    <div class="form-group">
                        <button *ngIf="!createNewAccount" (click)="login()" [disabled]="!email || !password" type="submit" class="btn btn-primary btn-block" style="margin-bottom: 20px">
                          Autentificare
                        </button>
                        <button *ngIf="createNewAccount" (click)="createAccount()" [disabled]="!email || !password" type="submit" class="btn btn-primary btn-block" style="margin-bottom: 20px">
                          Creaza cont
                        </button>
                    </div>
                    <div *ngIf="!createNewAccount" class="form-group row justify-content-center align-self-center">
                      <button type="button" (click)="switchToNewAccountView()" class="btn btn-link">Utilizator nou?</button>
                    </div>
                  </form>
              </div>
            </div>
            <div *ngIf="error">Eroare, incercati din nou! </div>
          </div>
      </div>

    </div>
</div>  <!-- end container -->
