<div class="container">
  <form class="form-inline" style="padding-top: 10px; padding-bottom: 10px">
    <input class="form-control mr-sm-2" (keydown)="search($event)" type="search" placeholder="Cauta medicament...">
  </form>
  <div *ngFor="let order of orders">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel title={{order}}>
        <ng-template ngbPanelContent>
          {{order.dateOrdered}}
          <div class="row col-md-12" style="padding-top: 10px">
            <button type="button" class="btn btn-sm btn-primary">Comanda</button>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
